h1 {text-align:center;
}
body { background-color: #d43d25;
}
img { display:block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}
.output{
 text-align:center;   
}
h2 {
    text-align: center ;
    border: 3px solid black;
    margin-right: 150px;
    margin-left: 80px;
    
}





